@body-side-margins: 1cm;
@sidebar-width: 30%;

html {
    padding: 2cm 0;
    background: white;
}

body {
    background: white;
    width: 21cm;
    height: 29.7cm;
    box-sizing: border-box;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
    flex-wrap: wrap;
    margin: 0 auto;
    display: grid;
    grid-template-areas:
        "header header"
        "content side";
    grid-template-columns: (100% - @sidebar-width) @sidebar-width;
    grid-template-rows: auto 1fr;
    gap: 0;

    >header {
        background: #E6C09C;
        color: #DB2231;
        padding: 1cm @body-side-margins;
        grid-area: header;

        h1 {
            margin: 0;
        }        
    }

    >main {
        padding: 0 @body-side-margins;
        box-sizing: border-box;
        background-color: #574E53;
        grid-area: content;
        color: #C0C0C9;
    }

    >aside {
        background-color: #3D3D42;
        color: #C0C0C9;
        grid-area: side;
        padding: 1em;

        ul {
            padding: 0;
            margin: 0;
            list-style-type: none;
        }
    }
}
