@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed|Roboto+Slab');

@body-side-margins: 1cm;
@sidebar-width: 30%;

html {
    padding: 2cm 0;
    background: white;
    font-family: "Roboto Condensed", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto Slab", serif;
    font-weight: normal;
    color: white;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

body {
    background: white;
    width: 21cm;
    height: 29.7cm;
    box-sizing: border-box;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
    flex-wrap: wrap;
    margin: 0 auto;
    display: grid;
    grid-template-areas:
        "header header"
        "content side";
    grid-template-columns: (100% - @sidebar-width) @sidebar-width;
    grid-template-rows: auto 1fr;
    gap: 0;

    >header {
        background: #E6C09C;
        color: #DB2231;
        padding: 1cm @body-side-margins;
        grid-area: header;

        h1 {
            margin: 0;
            color: inherit;
        }       
        
        .subtitle {
            margin: 0;
        }
    }

    >main {
        padding: 0 @body-side-margins;
        box-sizing: border-box;
        background-color: #574E53;
        grid-area: content;
        color: #C0C0C9;        

        h2 {
            position: relative;
            overflow: hidden;

            &:after {
                content: "";
                position: absolute;
                top: 50%;
                width: 100%;
                margin-left: 0.5em;
                border: 1px solid white;
            }
        }
    }

    >aside {
        background-color: #3D3D42;
        color: #C0C0C9;
        grid-area: side;
        padding: 1em;

        .avatar {
            width: 100%;
            height: auto;
            border-radius: 50%;
        }
    }
}

section.timeline {
    header {
        overflow: auto;

        p {
            margin: 0;
            padding: 0;
            
            &:first-of-type {
                color: white;
                font-weight: bold;
            }
        }

        .date {
            float: left;
        }

        .location {
            float: right;
        }
    }

    ul {
        margin-left: 1em;

        li {
            margin-bottom: 1em;
    
            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }
}
