@import "base";

@primary-color: #f8c536;

@sidebar-width: 35%;
@sidebar-left-margin: 1cm;
@content-left-margin: 1cm;

@font-face {
    font-family: "Roboto";
    src: url("/assets/fonts/roboto/Roboto-Regular.ttf");
}

@font-face {
    font-family: "Cocogoose";
    src: url("/assets/fonts/cocogoose/Cocogoose Pro-trial.ttf");
}

body {
    font-family: "Roboto";
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1, h2 {
    font-family: "Cocogoose";
    text-transform: uppercase;
    color: #292a2c;
}

h1, h2, h3 {
    margin: 0;
}

body {
    font-size: 11.5pt;

    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 0.25cm;
        height: 70%;
        background: @primary-color;
    }
}

body > aside {
    position: absolute;
    top: 0;
    left: 0;    
    bottom: 0;
    width: @sidebar-width; 
    display: flex;
    flex-direction: column;
    padding-left: @sidebar-left-margin;
    box-sizing: border-box;  

    section {
        padding: 1cm 0.3cm;
    }

    h2 {
        text-align: center;
        text-transform: uppercase;
    }
    
    section.primary {
        flex-grow: 1;
        background-color: @primary-color;
        color: black;

        .avatar {
            display: block;
            width: 70%;
            height: auto;
            border-radius: 50%;
            margin: auto;
            margin-bottom: 0.75cm;
        }

        section {
            padding: 0;
            margin-bottom: 0.5cm;

            &:last-of-type {
                margin-bottom: 0;
            }
        }

        h2 {
            margin-bottom: 0.5em;
        }

        section.skills {
            ul {
                li {
                    overflow: auto;
                    font-size: 0.9em;
                    display: table-row;

                    .name,
                    .value {
                        width: 50%;
                        box-sizing: border-box;
                        display: table-cell;
                        vertical-align: middle;
                        text-align: right;
                        padding-right: 0.5em;
                        border-bottom: 0.25em solid transparent;
                    }

                    .value {
                        @height: 0.5em;
                        position: relative;
                        
                        .progress-bar {
                            display: block;
                            position: absolute;
                            top: 50%;
                            width: 100%;
                            transform: translateY(-50%);
                            border-radius: (@height / 2);
                            background-color: #f9d36e;
                            height: @height;
                            
                            .progress {
                                position: absolute;
                                background-color: #2a2a2c;
                                top: 0;
                                bottom: 0;
                                left: 0;
                                border-radius: (@height / 2);
                            }
                        }                        
                    }
                }
            }
        }

        section.languages {
            ul {
                display: flex;

                li {
                    flex-grow: 1;      
                    position: relative;                         
                    
                    .language {
                        background-color: #f9d36e;
                        border: 3px solid white;
                        border-radius: 50%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 0;
                        padding-bottom: 100%;    
                        text-align: center;
                        box-sizing: border-box;
                        
                        .info {
                            position: absolute;
                            top: 50%;
                            left: 10%;
                            right: 10%;
                            transform: translateY(-50%);
                            line-height: 1;
                            
                            .name {                                
                                font-size: 0.8em;
                                font-weight: bold;
                                text-transform: uppercase;
                                display: block;
                            }

                            .proficiency {
                                font-size: 0.7em;
                            }
                        }
                    }
                }
            }
        }
    }

    section.interests {
        margin-top: 0.5cm;
        background-color: #292a2c;          
        color: white;

        h2 {
            color: @primary-color;
            margin-bottom: 0.5cm;
        }

        .interests {
            >* {
                display: inline-block;
                border: 1px solid @primary-color;
                border-radius: 6px;
                padding: 0.25em;
                margin: 0.1em;
            }
        }
    }
}

body > header,
body > main {
    >* {
        padding-left: calc(@sidebar-width + @content-left-margin);
        padding-right: 1cm;
    }    
}

body > header {
    background: #343537;
    color: white;
    padding-top: 1.5cm;

    h1 {
        margin: 0;
        color: inherit;
        font-size: 2.1em;
    }

    .subtitle {
        display: inline-block;
        margin: 0;
        padding: 0.25cm 0.5cm;
        background-color: @primary-color;
        border-radius: 6px;
        color: black;
        margin-left: calc(@sidebar-width + @content-left-margin);        
        font-size: 0.9em;
    }

    .summary {
        font-size: 0.8em;
        margin-bottom: 1cm;
    }

    .contact-information {
        background: #212121;
        display: flex;
        padding-top: 0.75em;
        padding-bottom: 0.75em;
        font-size: 0.8em;

        >* {
            flex-grow: 1;
        }
    }
}

body > main {
    section {
        &.highlighted {
            background: #d7d7d7;
        }

        @vertical-padding: 0.8cm;
        padding-top: @vertical-padding;
        padding-bottom: @vertical-padding;
    }

    h2 {
        margin-bottom: 0.5cm;
    }

    h3 {
        font-size: 1em;
        line-height: 1;
    }

    ul {
        li {
            margin-bottom: 0.5cm;

            header {
                p {
                    display: inline-block;
                    font-size: 0.8em;
                    background-color: @primary-color;
                    border-radius: 6px;
                    padding: 0.1cm;
                    margin: 0;
                    margin-right: 0.05cm;
                    margin-bottom: 0.05cm;
            
                    &:last-of-type {
                        margin-right: 0;
                    }
                }
            }

            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }

    section.accomplishments {
        padding-top: 0;

        .description {
            font-size: 0.8em;
            line-height: 1.1;
        }
    }
}
