<!DOCTYPE html>
<html>
    <body>
        <header>
            {{#person}}
                {{firstName}} {{lastName}}
                {{subtitle}}
            {{/person}}
        </header>
    </body>
</html>
